# vim:filetype=yaml

# {{ git_url }}

stages:
  - build
  - make

before_script:
  - apt-get update
  - apt-get install -y make

make_all:
  stage: make
  script:
    - make clean
    - make build
    - make publish
    - make deploy
  tags:
    - shell
    - build-as-docker

cleanup:
  stage: cleanup
  script:
    - make destroy
  tags:
    - shell
    - build-as-docker
  when: always 
