# vim:filetype=make shiftwidth=4 tabstop=4 noexpandtab

clean:
	rm -rf build
	rm -rf test-results
	rm -rf dist
	rm -rf venv
	rm -f app.spec
	rm -f *.pyc
	rm -rf artifacts

setup:
	virtualenv venv
	venv/bin/pip install -r requirements.txt


build:
	venv/bin/pyinstaller --onefile --clean --add-data templates:templates  app.py


test:
	rm -f .gitlab.ci.yml
	rm -f Makefile
	./dist/app new --template python-pyinstaller-app --project-name mokus-ci-tool --git-url fake
	ls -la .gitlab-ci.yml
	ls -la Makefile


package:
	mkdir artifacts
	mv dist/app artifacts/mokus-ci-tool

publish:
	echo "storing mokus-ci-tool"
